<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :delay %> <br>(format ex: 15m, 12h, 7d)<br>
    <%= f.text_field :delay %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
