<%= form_for @message, :html => {:class => 'ui form'} do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :project, placeholder: 'Summary' %>
  </div>
  <div class="field">
    <label>
      Delay <i class="help red inline circular icon link" data-content="Format the message delay using m, h, and d for minutes, hours, and days."></i>
    </label>
    <%= f.text_field :delay, placeholder: 'Delay (format ex: 15m, 12h, 7d)' %>
  </div>
    <%= f.submit :class => 'ui teal button' %>
<% end %>



