<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Messages</h1>
  <%= link_to 'Create a New Message', new_message_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Text</th>
      <th>Summary</th>
      <th>Delay(seconds)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% sorted_messages = @messages.sort_by(&:message_number) %>
    <% sorted_messages.each do |message| %>
      <tr>
        <td><%= sorted_messages.index(message) + 1 %></td>
        <td><%= message.text %></td>
        <td><%= message.project %></td>
        <td><%= "#{message.delay} (#{message.message_number})" %></td>
        <td><%= link_to 'Show', message %>
        <%= link_to 'Edit', edit_message_path(message) %>
        <%= link_to 'Destroy', message, method: :delete, data: { confirm: "Are you sure you want to delete this message? Consider editing instead." } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>