<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>Message number</th>
      <th>Text</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.sort.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td><%= message.text %></td>
        <td><%= message.project %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) if current_admin %></td>
        <!-- <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path if current_admin %>

<br>
<br>

<%= link_to 'User List', users_path if current_admin %>
