<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @message.project %>
</p>

<p>
  <strong>Delay:</strong>
  <%= @message.delay %>
</p>

<%= link_to 'Edit', edit_message_path(@message) if current_admin %> |
<%= link_to 'Back', messages_path %>
