<p id="notice"><%= notice %></p>

<p>
  <strong>Message number:</strong>
  <%= @message.message_number %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Project:</strong>
  <%= @message.project %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
