<%= form_for @interaction, :html => {:class => 'ui form'} do |f| %>
  <% if @interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
      <% @interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :user_input %><br>
    <%= f.text_field :user_input %>
  </div>
  <div class="field">
    <%= f.label :response %><br>
    <%= f.text_area :response %>
  </div>
   <div class="field">
    <%= f.label :hits %><br>
    <%= f.number_field :hits %>
  </div>
    <%= f.submit :class => 'ui teal button' %>
<% end %>

