<p id="notice"><%= notice %></p>
<div class="header">
  <h1>Interactions</h1> 
  <%= link_to 'Create a New Interaction', new_interaction_path %>
</div>

<p><b>Note</b> - User input will automatically be "downcased" and is not case sensitive.</p>

<table>
  <thead>
    <tr>
      <th>User input</th>
      <th>Response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interactions.sort.each do |interaction| %>
      <tr>
        <td><%= interaction.user_input %></td>
        <td><%= interaction.response %></td>
        <td><%= link_to 'Show', interaction %>
        <%= link_to 'Edit', edit_interaction_path(interaction) %>
        <%= link_to 'Destroy', interaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
