<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <p id="notice"><%= notice %></p>


    

    <div class="ui segment" id="spacer">
      <div class="header">
        <h1 class="blue">Interactions </h1> <i class="help teal  inline circular icon link" data-html="<div class='header'>Interactions</div><div class='content'> Interactions are responses that are triggered by specific user messages.<br><br><strong>Note: </strong> all user input is case insensitive</div>"></i>
        <button class="ui labeled teal icon small button right floated ">
          <i class="write icon"></i>
          <%= link_to 'Create New Interaction', new_interaction_path %>
        </button>
      </div>
      <div class="ui divider"></div>

    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>User input</th>
          <th>Response</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @interactions.sort.each do |interaction| %>
            <tr>
              <td><%= interaction.user_input %></td>
              <td><%= interaction.response %></td>
              <td>
              <%= link_to 'Details', interaction, :class => "ui teal basic label" %>
              <%= link_to 'Edit', edit_interaction_path(interaction), :class => "ui orange basic label" %>
              <%= link_to 'Destroy', interaction, method: :delete, :class => "ui red basic label", data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>
  <div class="two wide column"></div>
</div>



<script type="text/javascript" charset="utf-8" >
$('.inline.icon')
  .popup({
    inline: true
  })
;
</script>
