<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <p id="notice"><%= notice %></p>

    <div class="ui segment" id="spacer">
  <div class="ui blue header">
    <h1>Interactions Metrics</h1>
  </div>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Interaction</th>
      <th>Date Created</th>
      <th>Hits</th>
      <th>Hits per week</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  
      <% Interaction.all.each do |i| %>
        <tr>
          <td><%= i.user_input %></td>
          <td><%= i.created_at.strftime("%a %b %e %Y %T") %></td>
          <td><%= i.hits %></td>
          <td><%= i.hits/((Time.now - i.created_at)/604800) %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
    </div>
  <div class="two wide column"></div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <p id="notice"><%= notice %></p>

<div class="ui segment" id="spacer">
  <div class="ui blue header">
    <h1>Message Metrics</h1>
  </div>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Message</th>
      <th>Date Created</th>
      <th>Reach</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  
      <% Message.all.each do |message| %>
        <tr>
          <td><%= message.project %></td>
          <td><%= message.created_at.strftime("%a %b %e %Y %T") %></td>
          <td><%= message.reach %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
    </div>
  <div class="two wide column"></div>
</div>

<p id="notice"><%= notice %></p>


  <script type="text/javascript" charset="utf-8" async defer>
  $(".ui.mini.rounded.image").popup({
    inline: true
  });
  </script>
