<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<% if current_admin %>
  <table>
    <thead>
      <tr>
        <th>User name</th>
        <th>Real name</th>
        <th>Slack ID</th>
        <th>Email</th>
        <th>Member since</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.user_name %></td>
          <td><%= user.real_name %></td>
          <td><%= user.slack_id %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%F") %></td>

          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You must be logged in to see user information.</p>
<% end %>
<br>
<br>
