<div class="ui grid">
  <div class="five wide column"></div>
  <div class="six wide column">
    <div class="ui centered card" id="spacer">
      <div class="image">
        <%= image_tag @user.pic%>
      </div>
      <div class="content">
        <a class="header"><%= @user.user_name %></a>
        <div class="meta">
          <span class="date">Joined <%= @user.created_at.strftime("%F")%></span>
        </div>
        <div class="description">
          <strong>Email</strong> <%= @user.email%>
          <br>
          <strong>Slack ID:</strong> <%= @user.slack_id %>
          <br>
          <strong>Real Name:</strong>
            <% if @user.real_name.blank? %>
              Unspecified
            <% else %>
              <%= @user.real_name %>
            <% end %>
            <br>
          <strong>Enrollment:</strong> <%= @user.enrolled %>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="reply icon"></i>
          <%= link_to 'Back', users_path %>
        </a>
      </div>
    </div>
  </div>
  <div class="five wide column"></div>
</div>



