<p id="notice"><%= notice %></p>

<h1>Listing Blasts</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Reach</th>
      <th>Sent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blasts.each do |blast| %>
      <tr>
        <td><%= blast.text %></td>
        <td><%= blast.reach %></td>
        <td><%= blast.created_at %></td>
        <td><%= link_to 'Show', blast %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blast', new_blast_path %>
