<div class="ui segment main text container">
  <p id="notice"><%= notice %></p>

<h1>Logs</h1>
<h3>You can ignore this page if you're not debugging.</h3>
<p>This is a list of all messages waiting to be sent. If the server goes down, the tasks to send these messages goes down with it. So, to solve that problem, at startup the program will reschedule any of these outstanding logs. All logs are deleted after their corresponding messages are sent.</p> 

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Message</th>
      <th>Delivery time</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.channel_id %></td>
        <td><%= log.message_id %></td>
        <td><%= log.delivery_time %></td>
        <td><%= link_to 'Show', log %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>