<!DOCTYPE html>
<html>
<head>
  <title>Rubot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="alert"><%= alert %></p>

<div id="login">
  <%= render 'layouts/user_widget' %>
</div>

<div id="nav">
  <%= link_to 'Home', clients_path %>
  <%= link_to 'Messages', messages_path %>
  <%= link_to 'Interactions', interactions_path %>
  <%= link_to 'User List', users_path %>
  <%= link_to 'Logs', logs_path %>
</div>

<%= yield %>

</body>
</html>
